@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    display: flex;
    justify-content: center;
    background-image: url("../assets/images/pattern-lines.svg"), url("../assets/images/background-desktop.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-position: center, center;
    background-attachment: scroll;
    font-family: "Inconsolata", serif;
    position: relative;
}

/* url("../assets/images/pattern-lines.svg"), */

.circle_top {
    position: absolute;
    top: -70px;
    left: 109px;
    width: 200px;
    pointer-events: none;
}

/* .circle_top_ticket {
    top: -85px;
    left: 58px;
} */

.circle_center {
    position: absolute;
    top: 395px;
    right: 370px;
    width: 200px;
    pointer-events: none;
    /* margin-left: -77px; */
}

.squiggly_line_top {
    position: absolute;
    top: 50px;
    right: 0;
    width: 500px;
    pointer-events: none;
}

.squiggly_line_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 650px;
    pointer-events: none;
}

main {
    /* background-color: rgb(0, 158, 158); */
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
}

.logo_full {
    margin-bottom: 45px;
    width: 180px;
}

.forms_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 3.0em;
    width: 90%;
    text-align: center;
    color: hsl(0, 0%, 100%);
    margin-bottom: 15px;
}

.subtitulo {
    font-size: 1.2em;
    color: hsla(0, 0%, 100%, 0.850);
    margin-bottom: 30px;
}

#forms_conf {
    /* background-color: blue; */
    width: 60%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.forms_avatar input {
    display: none;
}

.title_upload {
    color: hsl(0, 0%, 100%);
    font-size: 15px;
}

.aviso_upload {
    color: hsl(245, 15%, 58%);
    font-size: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.aviso_upload svg {
    margin-right: 5px;
    width: 15px;
}

.text_upload {
    color: hsl(252, 6%, 83%);
}

.upload_avatar {
    border: 2px dashed hsla(246, 15%, 58%, 0.500);
    border-radius: 10px;
    margin: 10px 0;
    width: 380px;
    /* z-index: 1; */
}

.upload_avatar:focus {
    outline: 1px solid hsla(252, 6%, 83%, 0.700);
    outline-offset: 3px;
}

.upload_avatar label {
    background-color: hsla(246, 15%, 58%, 0.150);
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    cursor: pointer;
    transition: .3s;
}

.upload_avatar label:hover {
    background-color: hsla(246, 15%, 58%, 0.300);

    span {
        border: 1px solid hsla(246, 15%, 58%, 0.500);
        background-color: hsla(245, 15%, 58%, 0.400);
    }
}

.upload_avatar.active {
    background-color: hsla(246, 15%, 58%, 0.300);
    transition: .3s;

    span {
        background-color: hsla(245, 15%, 58%, 0.400);
        border: 1px solid hsla(246, 15%, 58%, 0.500);
    }
}

.upload_avatar span {
    background-color: hsla(245, 15%, 58%, 0.200);
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload_avatar span img {
    width: 25px;
}

.upload_avatar p {
    color: hsla(252, 6%, 83%, 0.76);
    font-size: 15px;
}

.forms {
    display: flex;
    flex-direction: column;
    color: white;
}

.container_fullname {
    width: 380px;
}

.container_email,
.container_github {
    /* background-color: rgb(81, 81, 208); */
    width: 380px;
    margin-top: 20px;
}

.forms label {
    font-size: 15px;
}

.label_github {
    margin-top: 20px;
}

.forms input {
    width: 100%;
    margin-top: 10px;
    /* margin-bottom: 20px; */
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid hsla(246, 15%, 58%, 0.500);
    background-color: hsla(246, 15%, 58%, 0.150);
    color: hsla(252, 6%, 83%, 0.800);
    transition: all .2s ease-in-out;
    outline: none;
    pointer-events: all;
}

.forms input:focus {
    outline: 1px solid hsla(252, 6%, 83%, 0.700);
    outline-offset: 3px;
}

/* .focus {
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 10px;
    padding: 2px;
} */

.forms input:hover {
    background-color: hsla(246, 15%, 58%, 0.300);
}

.forms input::placeholder {
    color: hsla(252, 6%, 83%, 0.800);
}

#forms_conf button {
    width: 380px;
    height: 100%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: hsl(7, 88%, 67%);
    color: hsl(248, 70%, 10%);
    font-weight: 800;
    cursor: pointer;
    transition: .2s;
}

#forms_conf button:hover {
    background-color: hsl(7, 71%, 60%);
    box-shadow: 0px 3px 0px hsl(7, 88%, 67%);
}

.hidden {
    display: none;
}

/* ticket */

.container {
    height: 90vh;
}

#ticket_container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ticket_title {
    margin-bottom: 25px;
}

.span_name {
    color: transparent;
    background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    
}

.ticket_text {
    color: hsl(252, 6%, 83%);
    width: 52%;
    text-align: center;
    margin-bottom: 120px;
}

.span_email {
    color: hsla(7, 88%, 67%, 0.800);
}

.ticket {
    /* background-color: rgba(50, 137, 137, 0.398); */
    display: flex;
    border-radius: 10px;
    position: relative;
}

#ticket_card {
    width: 500px;
}

.ticket_mark {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
}

h2 {
    position: absolute;
    top: 20px;
    left: 65px;
    height: 30px;
    font-size: 1.8em;
    font-weight: 600;
    color: white;
    text-align: center;
}

.text_data {
    position: absolute;
    top: 60px;
    left: 65px;
    color: hsla(252, 6%, 83%, 0.850);
    font-size: .8em;
}

.ticket_avatar {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 60px;
    border-radius: 10px;
}

/* .name_github {
    position: absolute;
    color: white;
    background-color: black;
    bottom: 20px;
    left: 80px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name_github p {
    background-color: blue;
    height: 50%;
    display: flex;
    justify-content: center;
} */

.name {
    position: absolute;
    display: flex;
    align-items: end;
    bottom: 53px;
    left: 90px;
    color: white;
    font-weight: 400;
}

.icon_github {
    position: absolute;
    bottom: 27px;
    left: 90px;
    width: 18px;
}

.github_account {
    position: absolute;
    bottom: 27px;
    left: 115px;
    color: hsla(252, 6%, 83%, 0.850);
    font-size: .8em;
    height: 18px;
    display: flex;
    align-items: center;
}

.id_number {
    position: absolute;
    color: hsl(245, 15%, 58%);
    writing-mode: vertical-rl;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: 500;
    height: 100%;
    width: 95px;
    right: 0;
}

.error {
    /* color: #9b526a; */
    color: #9f5151;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 600;
}

.info_error path {
    stroke: #9f5151;
    /* fill: transparent; */
}

input.input_error {
    border-color: #9f5151;
}

.error_mensage {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 16px;
}

.text_error {
    display: flex;
    align-items: center;
    padding-top: 2px;
}

.img_icon {
    width: 15px;
    margin-right: 5px;
}

.img_icon path {
    stroke: #9f5151;
}

@media screen and (max-width: 400px) {

    html {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    body {
        height: 100vh;
        width: 98vw;
    }

    main,
    #forms_conf {
        width: 100%;
        height: 100%;
    }

    .circle_top {
        width: 100px;
        top: -30px;
        left: -15px;
    }

    .squiggly_line_top {
        width: 120px;
        top: 25px;
    }

    .squiggly_line_bottom {
        width: 250px;
        z-index: -1;
    }

    .circle_center {
        width: 80px;
        right: -30px;
        top: 485px;
    }

    .logo_full {
        width: 160px;
    }

    h1 {
        font-size: 1.8em;
        width: 350px;
        margin-bottom: 25px;
    }

    .subtitulo {
        text-align: center;
        width: 300px;
        font-weight: 300;
        font-size: 1.1em;
        margin-bottom: 40px;
        color: rgba(255, 255, 255, 0.750);
    }

    .upload_avatar,
    .container_email,
    .container_github,
    .container_fullname {
        width: 350px;
    }

    #forms_conf button {
        width: 350px;
        z-index: 10px;
    }

}