@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Libre Franklin", sans-serif; */

:root {
    --Blue: hsl(223, 87%, 63%);
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);

    --fs-20: 20px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Libre Franklin", sans-serif;
}

body {
    padding: 50px 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header,
.forms,
.illustration,
.social_media {
    width: 800px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header img {
    width: 100px;
}

.header h1 {
    font-size: 2.8em;
    font-weight: 300;
    color: hsl(0, 0%, 59%);
    margin-top: 40px;
    margin-bottom: 15px;
}

.header span {
    color: hsl(209, 33%, 12%);
    font-weight: 700;
}

.header p {
    color: hsl(209, 33%, 12%);
    font-size: 1.1em;
}

.forms {
    height: 50px;
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

.input_mensagem {
    width: 400px;
}

.forms input {
    padding: 15px 20px;
    border-radius: 50px;
    border: 1px solid hsl(223, 100%, 88%);
    width: 400px;
    outline: hsl(223, 100%, 88%);
    height: 50px;
}

.forms input::placeholder {
    color: hsl(223, 100%, 88%);
}

.forms button {
    background-color: hsl(223, 87%, 63%);
    color: white;
    width: 180px;
    height: 50px;
    padding: 10px;
    margin-left: 10px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 5px 5px hsla(223, 100%, 88%, 0.689);
    cursor: pointer;
}

#mensagem {
    /* margin-bottom: 60px; */
    font-size: .9em;
    font-style: italic;
    margin-top: 5px;
    padding-left: 25px;
}

.illustration {
    text-align: center;
    height: 380px;
    margin-bottom: 60px;
}

.illustration img {
    width: 600px;
}

.social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.fa-brands  {
    border: 1px solid hsl(223, 100%, 88%);
    border-radius: 50%;
    padding: 10px;
    font-size: 1.1em;
    color: hsl(223, 87%, 63%);
}

.fa-brands:hover {
    background-color: hsl(223, 87%, 63%);
    color: white;
}

.fa-facebook-f {
    padding: 10px 14px;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    color: hsl(0, 0%, 59%);
    font-size: .8em;
}

.error {
    color: red;
    display: block;
}

.success {
    color: rgb(0, 197, 0);
    display: block;
}

.hidden {
    display: none;
}

@media screen and (max-width: 670px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        width: 400px;
        height: 95vh;
        display: flex;
        flex-direction: column;
    }

    .header,
    .forms,
    .illustration,
    .social_media {
        width: 400px;
    }

    .header img {
        width: 80px;
    }

    .header h1 {
        font-size: 1.7em;
    }

    .header p {
        font-size: .9em;
    }

    .forms {
        flex-direction: column;
        height: 130px;
        align-items: center;
    }

    .input_mensagem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input_mensagem input {
        padding: 20px 35px;
        height: 40px;
    }

    .forms button {
        margin-top: 15px;
        margin-left: 0;
        height: 40px;
    }

    .forms input, .forms button {
        width: 330px;
    }

    #mensagem {
        width: 330px;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: .8em;
        padding-left: 0;
        text-align: center;
    }

    .illustration img {
        width: 350px;
    }

    .social_media {
        gap: 15px;
        margin-bottom: 40px;
    }

    footer {
        width: 400px;
    }
}